.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
}

.footerLinks{
    text-decoration: none;
    color: var(--secondary-color);
}

.linkGroup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}